{% load static %}   
<!doctype html>
<html lang="en">
    {% block bootstrap_theme %}
    
<head  style="background-color: aqua;text-align: center;">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'myapp/css/bootstrap.css' %}" type="text/css">
    <style>
        h1 {text-align: center;}
        p {text-align: center;}
        
        
            </style>       
            
        
</head>
{% endblock %}


{% block content %}
<body style="background-color: aqua;text-align: center;">

    <h1>Credit Card Fraud Detection</h1>
    <p>Please enter the details </p>
    <script src="{% static 'myapp/js/jquery.js' %}"></script>
    <script src="{% static 'myapp/js/popper.js' %}"></script>
    <script src="{% static 'myapp/js/bootstrap.js' %}"></script>


</body>
{% endblock  %}
</html>
